		body{

		}
		.page{
			display:flex;
			flex-direction:column;
		}
		.bar{
			padding-top:50px;
			display:flex;
			flex-wrap:wrap;
			justify-content:center;

		}
		.bar >div{
			cursor:pointer;
		}
		.barLogo{
			width:100px;
			margin-right:10px; 
			background:linear-gradient(45deg,red,pink);
			transform:skew(-30deg);
			border-radius:10px;
		}
		.homePage{
			flex-grow:2;
		}
		.nag{
			font-size:1em;
			border-bottom:5px solid transparent;
			margin:0 10px 0;

		}
		.nag:hover{
			border-bottom:2px solid blue;
			color:#00a1d6;
		}
		.blockLine{
			margin:20px 0 20px 0;
			height:1px;
			opacity:0.3;
			display:flex;
			background:#555;
		}
		.news{
			display:flex;
			flex-direction:row;
			flex-wrap:wrap;
			justify-content:center;

		}
		.big{
			width:400px;
			height:300px;
			display:flex;
			flex-direction:column-reverse;
		}
		.small{
			display:flex;
			flex-wrap:nowrap;
			justify-content:center;
			
		}
		.small >div{
			width:30px;
			height:30px;
			border:1px solid;
			text-align:center;
			font-size:0.5em;
		}
		.small>div:hover{
			cursor:pointer;
		}
		.trend{
			margin-left:50px;
			width:400px;
			height:300px;
		}
		.trend>:first-child{
			font-size:2em;
			margin-left:20px;
			color:pink;
		}
		.trend >div{
			font-size:1.5em;
			font-style:italic;
		}
		a{
			text-decoration:none;
		}
		.main{
			margin:auto;
			display:flex;
			flex-direction:row;
			flex-wrap:wrap;
			width:900px;
		}
		.main>div{
			margin:auto;
		}
		.subImg{
			border:1px solid;
			font-size:3em;
			position:relative;
			width:200px;
			height:200px;
			float:left;
		}
		.foo{
			margin-left:60%;

		}
		h2{
			border-left:2px solid red;
			padding-left:5px;
		}
		.banner{
			position:absolute;
			height:100px;
			width:100vw;
			z-index:-1000;
			background:linear-gradient(0deg,aqua,lime);
		}
		.log{
			position:fixed;
			left:95%;
			top:20%;
			width:80px;
			height:40px;
			border-radius:50px;
			background:linear-gradient(0deg,aqua,transparent);
			text-align:center;
			font-size:1em;
			padding-top:30px;
			font-style:italic;
			color:#ddd;
		}